* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 212, 212);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

span header {
    font-size: 50px;
}

#sito {
    font-size: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0px 10px 50px;
}

header, .container {
    background-color: rgb(255, 255, 255);
}

#logo {
    vertical-align: bottom;
}

.mb {
    margin-bottom: 20px;

}

small {
  border-radius: 2px;

}

.editorial {
    background-color: rgb(119, 157, 238);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: blueviolet;
}


.q1goal {
    background-color: brown;
}